
.profile-panel {
    border-radius: 12px;
    padding: 20px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
}

.user-profile {
    width: 80%;
    padding: 2px;
}

.profile-photo {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 3px solid #6c63ff;
    object-fit: cover;
    margin-bottom: 15px;
}


.user-profile button{
    background-color: none;
    background: none;
    border: none;
    outline: none;
    color:white;
    
}
.user-profile button:hover{
    cursor: pointer;
}

.user-profile div:not(.file-upload) {
    margin: 10px 0;
    padding: 10px;
    background-color: #1f1f2f;
    border-radius: 6px;
    font-size: 14px;
    color: #b0b0b0;
    width: 100%;
    text-align: left;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.user-profile div:first-child {
    text-align: center;
}

.file-upload {
    position: relative;
    display: inline-block;
    width: 100%;
}

.file-upload input[type="file"] {
    display: none; /* Hide the actual file input */
}

.custom-file-label {
    display: inline-block;
    padding: 10px 15px;
    background-color: #1e1e2f;
    color: #fff;
    border: 1px solid #555;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    width: 100%;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.custom-file-label:hover {
    background-color: #2b2b3c;
    transform: scale(1.02);
}
.user-profile button{
    margin-top: 10px;
    margin-left: 15px;
    display: inline-block;
    padding: 10px 15px;
    background-color: #1e1e2f;
    color: #fff;
    border: 1px solid #555;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    width: 100%;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}
.user-profile button:hover{
    background-color: #2b2b3c;
    transform: scale(1.02);
}


@media screen and (max-width: 768px) {
    .profile-panel {
        width: 95%;
    }

    .profile-photo {
        height: 100px;
        width: 100px;
    }

    button,
    input[type="file"] {
        font-size: 12px;
        padding: 8px 10px;
    }

    .user-profile div {
        font-size: 12px;
        padding: 8px;
    }
}

